{% extends "base.html" %} 
{% block title_head %}Crear Auto{% endblock title_head %}
{% block contenido %}
    
    <form action={% url "crear" %} method ='POST' enctype='multipart/form-data'>
    {% csrf_token %}
    {{formulario}}
        {% comment%} <label for="marca">
        Marca:
        <input type="text" name="marca">
        </label>
        <label for="modelo">
        Modelo:
        <input type="text" name="modelo">
        </label>
        
          <button> Crear </button>  {% endcomment %} 
        <input type="submit" value="crear" >
        <input type="number" name="year" value="2020">
        <input type="number" name="kilometros" value="0">


    </form>
{% endblock contenido %}
